{{name}}.spec.ts
import { Blockchain, SandboxContract } from '@ton-community/sandbox';
import { toNano } from 'ton-core';
import { {{name}} } from '../wrappers/{{name}}';
import '@ton-community/test-utils';

describe('{{name}}', () => {
    let blockchain: Blockchain;
    let {{loweredName}}: SandboxContract<{{name}}>;

    beforeEach(async () => {
        blockchain = await Blockchain.create();

        {{loweredName}} = blockchain.openContract(await {{name}}.fromInit());

        const deployer = await blockchain.treasury('deployer');

        const deployResult = await {{loweredName}}.send(
            deployer.getSender(),
            {
                value: toNano('0.05'),
            },
            {
                $$type: 'Deploy',
                queryId: 0n,
            }
        );

        expect(deployResult.transactions).toHaveTransaction({
            from: deployer.address,
            to: {{loweredName}}.address,
            deploy: true,
            success: true,
        });
    });

    it('should deploy', async () => {
        // the check is done inside beforeEach
        // blockchain and {{loweredName}} are ready to use
    });
});
