.fade-enter {
	opacity: 0;
	transform: translateY(-10px);
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 0.3s, transform 0.3s;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 0.3s;
}